<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<div class="login">
	<h1>Sentiment Analysis</h1>
		<span style="font-style: italic; text-align: center;">by Michael</span><br><br>
		<span style="font-weight: bold; font-size: 16; text-align: center">Hey, please enter some text for sentiment analysis</span><br><br>
		<span style="font-style: italic; font-size: 10pt; text-align: center;">Examples:
			<br>"I think we can reduce global warming"
			<br>"Milka Daim is so goooooood"
			<br>"I don't like Pizza"</br></br></span>

		
	<form action="{{ url_for('predict')}}"method="post">
		<input type="text" name="input_text" placeholder="Text" required="required" />
		
		<button type="submit" class="btn" style="background-color: rgb(253, 157, 32);">Analyze sentiment</button>
	</form>
	
	<br>
	<br>
	<span style="font-size: 14pt;">{{ output_text }}</span>
	<span style="font-style: italic; font-size: 18pt; color: rgb(253, 157, 32);">{{ prediction }}</span>

	<br>
	<br>

	<p>
		<span style="font-size: 10pt;">
			If you're interested in how the machine learning model was trained, check out my <a href="https://github.com/michaelstaden/sentiment_web_application/blob/master/Sentiment_Analysis_Twitter.ipynb" style="color: rgb(253, 157, 32)">github</a>
		</span>
	</p>

</div>

</body>
</html>